beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
cycler==0.11.0
filelock==3.3.2
Flask==2.0.2
Flask-Cors==3.0.10
flask-ngrok==0.0.25
gunicorn==20.1.0
huggingface-hub==0.1.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.2
joblib==1.1.0
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==3.3.4
nltk==3.6.5
numpy==1.21.3
packaging==21.2
pandas==1.3.4
Pillow==8.4.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
rank-bm25==0.2.1
regex==2021.11.2
requests==2.26.0
sacremoses==0.0.46
scikit-learn==1.0.1
scipy==1.7.1
six==1.16.0
soupsieve==2.2.1
threadpoolctl==3.0.0
tokenizers==0.10.3
tqdm==4.62.3
transformers==4.12.2
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.2
https://download.pytorch.org/whl/cpu/torch-1.3.1%2Bcpu-cp36-cp36m-linux_x86_64.whl
transformers==3.0.2
numpy==1.19.1
joblib==0.16.0
sentencepiece==0.1.91
urllib3==1.25.10